services:
  harmonyspeech-ui:
    image: harmonyai/harmonyspeech-ui:latest
    pull_policy: always
    env_file: .env
    ports:
      - "${BIND_IP:-0.0.0.0}:${UI_HOST_PORT:-8081}:${UI_CONTAINER_PORT:-80}"
    depends_on:
      - harmonyspeech-engine
    networks:
      - harmony-link-network
    labels:
      com.docker.compose.project: harmony-link-integration-harmony-speech-engine
      com.docker.compose.service: harmonyspeech-ui

  harmonyspeech-engine:
    image: harmonyai/harmonyspeech-engine-cpu:latest
    pull_policy: always
    env_file: .env
    ports:
      - "${BIND_IP:-0.0.0.0}:${ENGINE_HOST_PORT:-12080}:${ENGINE_CONTAINER_PORT:-12080}"
    volumes:
      - ./config.yml:/app/harmony-speech-engine/config.yml
      - ../../../../shared/cache:/app/harmony-speech-engine/cache
    networks:
      - harmony-link-network
    labels:
      com.docker.compose.project: harmony-link-integration-harmony-speech-engine
      com.docker.compose.service: harmonyspeech-engine

networks:
  harmony-link-network:
    external: true
    name: harmony-link-network
