services:
  harmonyspeech-ui:
    image: harmonyai/harmonyspeech-ui:latest
    pull_policy: always
    env_file: .env
    ports:
      - "${BIND_IP:-0.0.0.0}:${UI_HOST_PORT:-8081}:${UI_CONTAINER_PORT:-80}"
    depends_on:
      - harmonyspeech-engine
    networks:
      - harmony-link-network
    labels:
      com.docker.compose.project: harmony-link-integration-harmony-speech-engine
      com.docker.compose.service: harmonyspeech-ui

  harmonyspeech-engine:
    image: harmonyai/harmonyspeech-engine-amd-wsl:latest
    pull_policy: always
    env_file: .env
    # IPC & shared memory settings: Required for WSL multi-gpu
    ipc: host
    shm_size: '8gb'
    ports:
      - "${BIND_IP:-0.0.0.0}:${ENGINE_HOST_PORT:-12080}:${ENGINE_CONTAINER_PORT:-12080}"
    volumes:
      - ./config.yml:/app/harmony-speech-engine/config.yml
      - ../../../../shared/cache:/app/harmony-speech-engine/cache
      # WSL2: Override interfaces to allow GPU access
      - /usr/lib/wsl/lib/libdxcore.so:/usr/lib/libdxcore.so
    devices:
      - "/dev/dxg" # WSL2
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE
    group_add:
      - video
    networks:
      - harmony-link-network
    labels:
      com.docker.compose.project: harmony-link-integration-harmony-speech-engine
      com.docker.compose.service: harmonyspeech-engine

networks:
  harmony-link-network:
    external: true
    name: harmony-link-network
